<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%block name="js_extra">
<script type="text/javascript">
    $(window).load(function () {
        var searchQuery = new URLSearchParams(window.location.search).get('search_query');
        if (searchQuery) {
            window.location.href = "/courses?search_query=" + encodeURIComponent(searchQuery);
        } else {
            window.location.href = "/courses"
        }
    });
</script>
</%block>
