// Include custom Footer
.wrapper-footer {
  background: linear-gradient(
    90deg,
    #006400 0%,
    #006400 6.25%,
    #016501 12.5%,
    #036703 18.75%,
    #056a05 25%,
    #086d08 31.25%,
    #0a700a 37.5%,
    #0e740e 43.75%,
    #117811 50%,
    #147b14 56.25%,
    #187f18 62.5%,
    #1a821a 68.75%,
    #1d851d 75%,
    #1f881f 81.25%,
    #218a21 87.5%,
    #228b22 93.75%,
    #228b22 100%
  );
  
  color: #fff;
  padding: 0;
  border-top: 1px solid #e5e7eb;
}

footer.tutor-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1600px;
  text-align: left;
  box-sizing: border-box;
  color: #fff;

  .footer-top {
    padding: 20px 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;

    @media (min-width: 769px) {
      padding: 40px 80px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;
      align-items: flex-start;

      @include media-breakpoint-up(md) {
        width: auto;
      }

      p {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        justify-content: flex-start;

        @include media-breakpoint-up(md) {
          font-size: 16px;
        }

        svg {
          flex-shrink: 0;
        }
      }
    }
  }

  .footer-bottom {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    border-top: 1px solid #e5e7eb;
    justify-content: flex-start;
    margin: 0;

    @media (min-width: 769px) {
      padding: 40px 80px;
      gap: 35px;
      align-items: center;
    }

    a {
      color: #fff !important;
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }
  }

  .copyright-site {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-family-lato;
    margin-top: 10px;
    text-align: left;

    @include media-breakpoint-up(md) {
      font-size: 16px;
      margin-top: 0;
    }
  }
}
