// Include custom Footer
.wrapper-footer {
  background: linear-gradient(90deg, #006400 0%, #006400 6.25%, #016501 12.5%, #036703 18.75%, #056A05 25%, #086D08 31.25%, #0A700A 37.5%, #0E740E 43.75%, #117811 50%, #147B14 56.25%, #187F18 62.5%, #1A821A 68.75%, #1D851D 75%, #1F881F 81.25%, #218A21 87.5%, #228B22 93.75%, #228B22 100%);
  color: #fff;
  padding: 0;
  border-top: 1px solid #E5E7EB;
}

footer.tutor-container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
  text-align: left;
  box-sizing: border-box;
  color: #fff;

  @include media-breakpoint-up(lg) {
    max-width: 1280px;
  }

  .footer-top {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;

    @include media-breakpoint-up(md) {
      padding: 40px;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 20px;
      align-items: center;
    }

    @include media-breakpoint-up(lg) {
      margin: 0;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;
      align-items: flex-start;

      @include media-breakpoint-up(md) {
        width: auto;
      }

      p {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        justify-content: flex-start;

        @include media-breakpoint-up(md) {
          font-size: 16px;
        }

        svg {
          flex-shrink: 0;
        }
      }
    }
  }

  .footer-bottom {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    border-top: 1px solid #E5E7EB;
    justify-content: flex-start;

    @include media-breakpoint-up(md) {
      padding: 30px 40px;
      gap: 35px;
      align-items: center;
    }

    @include media-breakpoint-up(lg) {
      padding: 40px 0;
      gap: 55px;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }
  }

  .copyright-site {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-family-lato;
    margin-top: 10px;
    text-align: left;

    @include media-breakpoint-up(md) {
      font-size: 16px;
      margin-top: 0;
    }
  }
}
