## mako

<%page expression_filter="h" args="online_help_token, use_cookie_banner=False"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import gettext as _
import waffle

from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from lms.djangoapps.branding import api as branding_api
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

<%
  unsupported_browser_alert_versions = configuration_helpers.get_value('UNSUPPORTED_BROWSER_ALERT_VERSIONS', settings.FEATURES.get('UNSUPPORTED_BROWSER_ALERT_VERSIONS'))
%>
% if waffle.switch_is_active('enable_unsupported_browser_alert'):
  <script>
    var $buoop = {
        notify:${unsupported_browser_alert_versions | n, decode.utf8},
        api:5,
        reminder:0
    };
    function $buo_f() {
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
  </script>
% endif
<script>
    const input = document.querySelector('#search-input');
    input.addEventListener('keyup', (e) => {
        if (e.keyCode === 13) {
            document.querySelector('#search-form').submit();
        }
    })
</script>
<header class="global-header ${'slim' if course else ''}">
    <div class="header-container">
    % if settings.FEATURES.get('ENABLE_COOKIE_POLICY_BANNER', use_cookie_banner):
        ${static.renderReact(
            component="CookiePolicyBanner",
            id="frontend-component-cookie-policy-banner",
            props={}
        )}
    % endif
    <div class="main-header">
        <%include file="navbar-logo-header.html" args="online_help_token=online_help_token"/>
            % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
        <div class="course-search">
                <label class="input-holder"><span class="sr">${_("Search for a course")}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z"
                              fill="#9CA3AF"></path>
                    </svg>
                    <input id="search-input-desktop" class="search-input" name="search_query" type="text" placeholder="${_("Search")}"/>
                </label>
        </div>
        % endif
        <div class="logo-and-mobile-icons">
            <!-- Add mobile icons container -->
            <div class="mobile-icons">
                <!-- Search icon for mobile -->
                <div class="mobile-icon mobile-search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10 4C6.68629 4 4 6.68629 4 10C4 13.3137 6.68629 16 10 16C13.3137 16 16 13.3137 16 10C16 6.68629 13.3137 4 10 4ZM2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10C18 11.8487 17.3729 13.551 16.3199 14.9056L21.7071 20.2929C22.0976 20.6834 22.0976 21.3166 21.7071 21.7071C21.3166 22.0976 20.6834 22.0976 20.2929 21.7071L14.9056 16.3199C13.551 17.3729 11.8487 18 10 18C5.58172 18 2 14.4183 2 10Z"
                            fill="#333333"></path>
                    </svg>
                </div>

                % if user.is_authenticated:
                % else:
                <a href="/login${login_query()}" class="mobile-icon mobile-user-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4ZM6 8C6 4.68629 8.68629 2 12 2C15.3137 2 18 4.68629 18 8C18 11.3137 15.3137 14 12 14C8.68629 14 6 11.3137 6 8Z"
                              fill="#333333"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M12 16C8.13401 16 5 19.134 5 23C5 23.5523 4.55228 24 4 24C3.44772 24 3 23.5523 3 23C3 18.0294 7.02944 14 12 14C16.9706 14 21 18.0294 21 23C21 23.5523 20.5523 24 20 24C19.4477 24 19 23.5523 19 23C19 19.134 15.866 16 12 16Z"
                              fill="#333333"></path>
                    </svg>
                </a>
                % endif

            </div>
        </div>
        % if user.is_authenticated:
            <%include file="navbar-authenticated.html" args="online_help_token=online_help_token"/>
        % else:
            <%include file="navbar-not-authenticated.html" args="online_help_token=online_help_token"/>
        % endif
    </div>

    </div>
    <div class="course-search-mobile hidden">
        <label class="input-holder"><span class="sr">${_("Search for a course")}</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z"
                      fill="#9CA3AF"></path>
            </svg>
            <input id="search-input-mobile" class="search-input" name="search_query" type="text"
                   placeholder="${_("Search")}"/>
        </label>
    </div>
    <!-- Navigation Tabs for Explore and My Learning -->
    % if user.is_authenticated:
    <div class="main-navigation">
        <div class="nav-container">
            <div class="nav-tabs">
                <a href="/explore" style="text-decoration: none;" class="nav-link explore active">Explore</a>
                <a href="${reverse('dashboard')}" style="text-decoration: none;" class="nav-link my-learning">My Learning</a>
            </div>
        </div>
    </div>
    % endif
</header>



% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" rel="noopener" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" rel="noopener" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif

% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="../widgets/cookie-consent.html" />
% endif

% if header_language_selector_is_enabled():
    <% languages = released_languages() %>
    % if len(languages) > 1:
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            % if user.is_authenticated:
                <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
            % else:
                <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
            % endif
            <label><span class="sr">${_("Choose Language")}</span>
            <select class="input select language-selector" id="settings-language-value" name="language">
                % for language in languages:
                    % if language[0] == LANGUAGE_CODE:
                        <option value="${language[0]}" selected="selected">${language[1]}</option>
                    % else:
                        <option value="${language[0]}" >${language[1]}</option>
                    % endif
                % endfor
            </select>
            </label>
        </form>
    % endif
% endif

<script>
  function toggleSearchBar() {
      const searchBar = document.querySelector('.course-search-mobile');
      if (searchBar) { // Added check for robustness
          searchBar.classList.toggle('hidden');
      }
  }

  document.addEventListener('DOMContentLoaded', function() {
    const mobileSearchIcon = document.querySelector('.mobile-search-icon');
    const searchContainer = document.querySelector('.course-search-mobile');

    // Event listener for the mobile search icon click
    if (mobileSearchIcon && searchContainer) { // Removed searchInput check here, not needed for this listener
      mobileSearchIcon.addEventListener('click', function() {
        searchContainer.classList.toggle('mobile-search-active');

        // Optional: If you still want to focus the input when the icon is clicked and bar becomes active
        if (searchContainer.classList.contains('mobile-search-active')) {
            const mobileSearchBarInput = document.querySelector('.course-search-mobile .search-input');
            if (mobileSearchBarInput) {
                mobileSearchBarInput.focus(); // Focus the input inside the mobile search bar
            }
        }
        toggleSearchBar();
      });
    }
  });
</script>


