## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.conf import settings
from django.urls import reverse
from django.utils.translation import gettext as _
%>

<%
  mktg_site_enabled = static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False))
  courses_are_browsable = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  allows_login = not settings.FEATURES['DISABLE_LOGIN_BUTTON'] and not combined_login_and_register
  can_discover_courses = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
  allow_public_account_creation = static.get_value('ALLOW_PUBLIC_ACCOUNT_CREATION', settings.FEATURES.get('ALLOW_PUBLIC_ACCOUNT_CREATION')) and settings.FEATURES.get('SHOW_REGISTRATION_LINKS', True)
%>
<!-- NEW IN INDIGO update nav -->
<nav class="nav-links" aria-label=${_("Supplemental Links")}>
  <div class="secondary d-flex align-items-center">
    <div class="btn-holder">
      % if allows_login:
        <div class="mobile-nav-item hidden-mobile nav-item">
            <a class="sign-in-btn btn" style="background-color: #FFFFFF; color: #228B22; border: 1px solid #228B22; font: 16px;" href="/login${login_query()}">${_("Log in")}</a>
        </div>
        <a href="/login${login_query()}" class="mobile-icon mobile-user-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4ZM6 8C6 4.68629 8.68629 2 12 2C15.3137 2 18 4.68629 18 8C18 11.3137 15.3137 14 12 14C8.68629 14 6 11.3137 6 8Z"
                      fill="#333333"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 16C8.13401 16 5 19.134 5 23C5 23.5523 4.55228 24 4 24C3.44772 24 3 23.5523 3 23C3 18.0294 7.02944 14 12 14C16.9706 14 21 18.0294 21 23C21 23.5523 20.5523 24 20 24C19.4477 24 19 23.5523 19 23C19 19.134 15.866 16 12 16Z"
                      fill="#333333"></path>
            </svg>
        </a>
      % endif
    </div>
  </div>
</nav>
